.custom-img {
  height: 100vh;
  object-fit: cover;
}

.animate-navbar {
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
